.top-link{
    color: white;
    text-decoration: none;
}
.top-atag{
    text-decoration: none;
    border-color: important;
}

  a:hover {
    
    border-color: important;
    text-decoration: none;

}
.img-thumbnail{
    padding: 2.25rem;
    
    border: 1px solid #fff;
}
.fa-brands {
        font-size: 2em;
        margin-top: 1em;
        margin-left: -7em;
        color: black;
}
.container {
    display: flex;
    justify-content: left;
  }
  
  iframe {
    max-width: 900px;
    max-height: 400px;
  }

  .font{
    
    font-size: 5em;

  }
  #qwrx-img{
    height: 15em;
  }
  .youtube{
    color: #FF0000
  }
  .insta {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.twitter{
  color: #1DA1F2;
  display:inline-block;
}
.whatsapp{
  color: #25D366;
  display:inline-block;
}
.telegram{
  color:#229ED9;
  display:inline-block;
}
.list{
  padding-left: 4rem!important;
}
.qw{
  display:inline-block;
}
.fombut{
  width: 20%;
}
#gxf{
  --bs-gutter-x: 20rem;
}
#listfooter{
  list-style: none;
}
.hr{
  color: #fff; 
}
.footerlink{
  text-decoration: none;
  color: black;
  
}
.footerlink:hover{
  text-decoration: none;
}
.headers{
  z-index: 1;
  
}
#header{
  transition: 0.5s;
}
.btn noHover{
  text-decoration: black;
}
#img{
  transition: 0.5s; ;
}
#hnav{
  background-attachment: fixed;
  transition: 0.5s;
  z-index: 1000;
}
.home-link{
  text-decoration: none;
  color: black;
}
.home-link:hover{
  color: black;
}
.socials{
  border-collapse: collapse;
}
.socials-header{
  margin-top: -3em;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(95, 236, 128);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  height: 50px;
  width: 45px;
}

#myBtn:hover {
  background-color: #555;
}